[Unit]
Description=Docker-compose Minecraft server
Requires=docker.service
After=docker.service
#ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
Restart=always
WorkingDirectory=/opt/minecraft/mchecker/mchecker/
ExecStartPre=/usr/bin/docker-compose down
ExecStart=/usr/bin/docker-compose -f minecraft-filebeat.yml up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
